.container{
    width: 300px;
    height: 500px;
    background: rgb(186,192, 186);
    margin: 100px;
}

.box{
    width: 100px;
    height: 100px;
}

.one{
    background-color: blue;
    position: relative;
    top: 100px;
    left: 100px;
}

.two{
    background-color: green;
    position: absolute;
    /* top: 0px; */
    /* right: 0px; */
    bottom: 0px;
    right: 0px;

}

.three{
    background-color: blueviolet;
    /* width: 200vh; */
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
}

.four{
    background-color: pink;
    position: sticky;
    top: 100px;
}

.space{
    height: 300px;
    width: 100px;
    background-color: red;
}